<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <meta charset="UTF-8">
</head>

<body>
    <div id="new">
        <form action="/new" method="POST">
            <label for="id1">drive id or share url</label>
            <input type="text" , id="driveid" name="driveid" value="1BhJ-uTk-bgd_0AxpepXRJZXr520o6mo0">
            <input type="submit" value="submit">
        </form>
    </div>
    <div id="list">
        <div id="working_list">
            <h3>working</h3>
            {% module Template("worker_table.html", worker_list=working) %}
            
        </div>
    </div>
</body>

</html>