<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
</head>

<body>
    <div id="new">
        <form action="/new" method="POST">
            <label for="id1">drive id or share url</label>
            <input type="text" , id="driveid" name="driveid" value="1BhJ-uTk-bgd_0AxpepXRJZXr520o6mo0">
            <input type="submit" class="btn btn-primary"  value="add">
        </form>
    </div>
    <div id="log">

    </div>
    <div id="list">
        <div id="working_list">
            <h3>working</h3>
            {% module Template("worker_table.html", worker_list=working) %}
            <h3>done</h3>
            {% module Template("worker_table.html", worker_list=done) %}
            <h3>canelled</h3>
            {% module Template("worker_table.html", worker_list=canelled) %}
            
        </div>
    </div>
</body>

</html>