<div class="row">
    <div class="col">action</div>
    <div class="col">id</div>
    <div class="col">title</div>
    <div class="col">status</div>
    <div class="col">error</div>
    <div class="col">current_file</div>
    <div class="col">total_progress</div>
    <div class="col">current_progress</div>
</div>
{% for w in worker_list.values() %}
<div class="row">
    <div class="col"><a href="/action?type=cancel&id={{ w.id }}">cancel</a></div>
    <div class="col">{{ w.id }}</div>
    <div class="col">{{ w.title }}</div>
    <div class="col">{{ w.status }}</div>
    <div class="col">{{ w.error }}</div>
    <div class="col">
        {% if w.progress.current_file != None %}
        {{ w.progress.current_file.title }}
        {% end %}</div>
    <div class="col">{{ w.progress.get_total_progress() }}</div>
    <div class="col">{{ w.progress.get_current_progress() }}</div>
</div>
{% end %} 